# Eclipse project files 
.project
.classpath
.settings
.gradle
/bin
*/bin/

# Build targets
/target
*/target/
/build
*/build/

# Report directories
/reports
*/reports

# JVM crash logs
hs_err_pid*.log

