*~
.*.sw?
*.log
*.log.[1-9]
*.pem
.localrc.auto
.prereqs
.tox
.stackenv
files/pip-*
files/get-pip.py
local.conf
local.sh
localrc
**/.metadata/*
**/.recommenders/*

java/autowork/genericGUI/.metadata/*
java/autowork/genericGUI/*classpath
**/.classpath
**/.project
**/.settings/*
**/target/*
**/build/*
**/.gradle/*
