<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="Debug">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<File name="All-Info" filename="/home/zengjp/log/test.log">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</File>
	</Appenders>
	<Loggers>
		<Root level="Debug">
			<AppenderRef ref="Console" level="Error" />
			<AppenderRef ref="All-Info" level="Debug"/>
		</Root>
	</Loggers>
</Configuration>